
* {
    margin: 0;
    padding: 0;
}
.sidenav {

    transition: width 0.7s;
    overflow: hidden;
    position: fixed;
    width: 20%;
    height: 100vh;
    color: white;
    border-right: 6px solid #D8C4B6;
    background-color: #557A46;
}

.sidenav ul li {
    padding: 24px;
    font-size: 22px;
}

.sidenav ul li a{
    text-decoration: none;
    color: white;
}

.sidenav ul li .active {
    padding: 15px;
    border-radius: 6px;
    background-color: rgba(173, 216, 230, 0.364);
}

ul li:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(173, 216, 230, 0.364);
}
.sidenav ul {
    margin-left: 40px;
    list-style: none;
}


.sidenav button {
    
    margin-top: 20px;
    margin-left: 85%;
    background-color: transparent;
    border: none;
}


.main {

    margin-left: 22%;
    transition: margin-left 0.7s;

}


.box-parent {
    display: flex;

}

.box1 {
    padding-top: 60px;
    background-color: coral;
    height: 140px;
    width: 300px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    

}


.parent{
gap: 6%;
    display: flex;
 
}
/* .parent .box-parent{
margin-left: 12%;
} */